<div id="about-content">
    <div id="title">
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
        <p>{{ email }}</p>
    </div>
    
    <article class="about">
        <h2>About me</h2>
        <p>
            Hello! I'm Adrian Farji, I'm from Uruguay but I've been living in Israel since 2020.
            <br>
            <br>
            I am autodidact and looking for a web developer role to keep growing in the field
            <br>
            <br>
            I am passionate about electronics and web design. in the portfolio there are web projects and also some projects in Arduino
            <br>
            <br>
        </p>
    
        <div class="skills">       
            <div class="list">
                <h3>Frontend</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Angular</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
    
            <div class="list">
                <h3>Backend</h3>
                <ul>
                    <li>Python</li>
                    <li>Django</li>
                    <li>SQL</li>
                    <li>MongoDB</li>
                    <li>Express</li>
                    <li>NodeJs</li>
                    <li>MEAN Stack</li>

                </ul>
            </div>
    
            <div class="list">
               <h3>Extra</h3>
                <ul>
                    <li>Arduino</li>
                    <li>Selenium</li>
                    <li>Beautiful Soup</li>
                    <li>Tkinter</li>

    
                </ul>
            </div>
        </div>
    </article>
</div>